# Auto detect text files and perform LF normalization
* text=auto
.repeat 10 Please use the appropriate game voice channels and/or text channels for your current game. And please let me know if you have any other games that arent listed so I can add them
